/* SCSS HEX */
$accent: #a31621ff;
$text: #fcf7f8ff;
$main: #ced3dcff;
$action: #4e8098ff;
$attention: #90c2e7ff;

/* SCSS HSL */
$madder: hsla(355, 76%, 36%, 1);
$snow: hsla(348, 45%, 98%, 1);
$french-gray: hsla(219, 17%, 84%, 1);
$air-force-blue: hsla(199, 32%, 45%, 1);
$light-sky-blue: hsla(206, 64%, 74%, 1);

/* SCSS RGB */
$madder: rgba(163, 22, 33, 1);
$snow: rgba(252, 247, 248, 1);
$french-gray: rgba(206, 211, 220, 1);
$air-force-blue: rgba(78, 128, 152, 1);
$light-sky-blue: rgba(144, 194, 231, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-right: linear-gradient(
  90deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-left: linear-gradient(
  270deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
$gradient-radial: radial-gradient(
  #a31621ff,
  #fcf7f8ff,
  #ced3dcff,
  #4e8098ff,
  #90c2e7ff
);
