@import "src/assets/styles/Variables.module.scss";

.nav_main {
  background-color: $madder;
  padding: 1rem;
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    li {
      a {
        color: $main;
        text-decoration: none;
        &:hover {
          color: $text;
          text-shadow: 0 0 1px $text;
        }
      }
    }
  }
}
